*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}


.container {
    justify-self: center;
    margin-top: 50px;
    height: 500px;
    width: 400px;
    background-color: #222;
}

.screen {
    height: 20%;
    background-color: #f1f1f1;
    border: 3px solid black;
}

.UI {
    display: grid;
    height: 80%;
    padding: 0.25rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.UI > div {
    border-radius: 0.5rem;
    text-align: center;
    align-content: center;
    /* background-color: mintcream; */
    margin: 1px;
}

.op {
    background-color: chocolate;
}
.mod {
    background-color: midnightblue;
    color: #fff;
}
.num {
    background-color: mintcream;
}

.zero {
    grid-column: 1 / 3;
    text-align: center;
}